header.global
	nav.nav1
	nav.logo
	nav.nav2
section.feature
	section.featured-content
	footer
		section.col1
		section.featured-controls
		section.col3
section.timsdoodads
	section.tweets
		h1
	section.calendar Calendar
	section.geeks
		h1
footer.global
	section.col1
		section.inset
			section.established
				div.est-icon
			section.stars
	section.socicons
		a.icon-twitter
		a.icon-instagram
		a.icon-geeklist
		a.icon-github
	section.col2
		section.inset
			section.stars
			section.year
				div.year-icon