!!!
html
  head
    title Node Philly | Spreading the Node.js love in the City of Brotherly Love
    meta(name="description", content="Node Philly's goal is to help spread knowledge and enthusiasm for Node.js in the Philadelphia area through annual meetups and events.")
    meta(name="robots", content="index, follow")
    meta(name="geo.placename", content="Philadelphia, Pennsylvania")
    meta(name="author", content="@bwhitham, @timsavery")
    link(rel='stylesheet', href='/stylesheets/style.css')
    // if lt IE9
      something about updating to a better browser
  body!= body